/* Style for the main container */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 20px;
    color: #994d00;
}

/* Style for the game-info box */
#game-info {
    background-color: #f4d7a0;
    border: 1px solid #994d00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* Styling for the player turn */
#current-turn {
    color: #6b50a0;
    font-size: 16px;
}

/* Icons for current player */
#current-turn[data-player="White"]::after {
    content: "⚪"; 
    margin-left: 5px;
}

#current-turn[data-player="Black"]::after {
    content: "⚫"; 
    margin-left: 5px;
}


#invalid-move {
    background-color: #ffcccc;
    color: #cc0000; 
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.hidden {
    display: none;
}

